@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <div class="testMessage">
        <button id="btnTestMessage" class="btn btn-dark">Send Debug message</button>
    </div>
    <div class="row">
        <div class="col-12" id="content">
        </div>
    </div>
</div>

<script src="~/js/signalr/signalr.min.js"></script>
<script src="~/js/notification.js"></script>
